:root{
        --backg:#111111;
        --bg:#333;
        --border:2px solid rgba(225,255,255,0.1);
        --glass: rgba(0,0,0,0.1);
        --allco: white;
        --allcol: #fff;
        --btn: darkblue;
        --bla: black;
        --radius: 30px;
        --item-radius: 10px;
        
}

body{
        background: linear-gradient(to left ,#313b2f,#28443f,#0F9E99);

        color: var(--allco);
        display: grid;
        margin: 0;
        position: relative;
        place-items: center;
        overflow-x: hidden;
        font-weight: 800;
}
 



.topmenu{
        position: relative;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        align-items: center;
        background: var(--allcol);
        height: 50px;
        margin: 0;
        overflow: hidden;
        z-index: 11;
        & img{
                width: min(20%, 50%);
                left: 10px;
                background: #111;
        }
    
       & ul{
              display: flex;
              position: relative;
              margin-left: auto;
              top: 0;
              gap: 20px;
              right: 20px;
                  
              & li{
                 font-size: clamp(1rem, 4vw, 2rem);
                 padding: 10px;
                 border-radius: 30px;
                 list-style: none;
                 transition: 1000ms ease-in;
                 &:hover{
                 border: solid 1px var(--btn);
                         
                 }
                 & a{
                         text-decoration: none;
                         color: var(--bla);
                         font-weight: 700;
                 }
              }
      }
}

.about{
        top: 40px;
        display: flex;/* flex */
        position: relative;
        overflow: hidden;
        &::before{
                position: absolute;
                content: "";
                background: linear-gradient(90deg,transparent,transparent,#00eaff,transparent,transparent);
                width: 100%;
                height: 1px;
                bottom: 0;
                filter: blue(10px);
                opacity: .8;
        }

        & div{
                display: grid;
                place-items: center;
                width: min(50%, 50rem);
                overflow: hidden;

                & h1{
                        color: green;
                        font-size: 3rem;
                }
                        
                & h1,h3,p,img{
                animation: text-con 2s ease ;
              /*  animation-timeline: view();
                animation-range: entry 0% cover 60%;*/
                }
               
                & p,h3{
               /* background: var(--glass);
                backdrop-filter: blue(5px);
                border: var(--border);*/
                padding: 30px 30px;
                font-size: clamp(1rem, 5vw, 2rem);
                font-weight: 300;
                width: min(70%, 400px);
                border-radius: 20px;
                transition: 0.2s ease-in;
                &:hover{
                        box-shadow: 2px 5px 2px  rgba(225,255,255,0.1);
                        scale: 1.1;
                }
                }
        }
        
        
        & img{
          position: relative;
          width: min(30%, 60%, 100%);
          margin-left: auto;
          top: 20px;
          right: 20px;
          border-radius: 50%;
          border: green 2px solid;
          
        }
}
@keyframes text-con{
        from{
                transform: var(--translate);
                opacity: 0.2;
        }
        to{
                transform: translateX(0);
                opacity: 1;
        }
}

.page-about{
        display: grid;
        position: relative;
        left: 20px;
        &::before {
        position: absolute;
        content: "";
        background: linear-gradient(90deg, transparent, transparent, #00eaff, transparent, transparent);
        width: 100%;
        height: 1px;
        bottom: 0;
        filter: blue(10px);
        opacity: .8;
}
        & .mini-con{
                position: inherit;
                display: flex;
                /*display: inherit;
                grid-template-columns: repeat(2, 1fr);*/
               & .mini-con-text{
                        position: inherit;
                        background: var(--glass);
                        text-align: start;
                        align-content: center;
                        padding: 0 30px 0 30px;
                        border-radius: var(--radius);
                        border: var(--border);
                        width: min(65%, 100%);
                        font-size: clamp(1rem, 5vw, 2rem);
                        & p{
                                position: relative;
                        &::before{
                                content: "";
                                position: absolute;
                                background: #00eaff;
                                width: 10px;
                                height: 1px;
                                bottom: 0;
                                transition: 0.5s ease;
                        }
                        &:hover::before{
                                width: 100%;
                        }
                        }
                }
                nav{
                       background: var(--glass);
                       position: inherit;
                       left: 30px;
                       right: 30px;
                       padding: 20px;
                       border-radius: var(--radius);
                       border: var(--border);
                       text-align: center;
                       width: 20%;
                       .quick-item{
                               position: inherit;
                               display: flex;
                               align-items: center;
                               top: 0;
                               border: var(--border);
                               padding: 10px;
                               i{
                                       position: inherit;
                                       font-size: 40px;
                               }
                               span{
                                       position: inherit;
                                       left: 10%;
                                       top: -10px;
                                       height: 60px;
                                       text-align: start;
                                       & p{
                                               position: inherit;
                                       }
                                       & h3{
                                               position: inherit;
                                       }
                               }
                       }
                }
        }
        & .project{
                position: relative;
                top: 20px;
                margin: 20px;
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(3, 1fr) ;
                height: min(50%, 200px);
                & span{
                        background: var(--glass);
                        position: inherit;
                        place-items: center;
                        border: var(--border);
                        border-radius: var(--item-radius);
                        max-height: 100px;
                        & h1{
                                position: inherit;
                                top: -10px;
                        }
                        & h3{
                                position: inherit;
                                bottom: 20px;
                                
                        }
                        
                }
        }
}

@keyframes section {
        from {
                transform: var(--section-translate);
                opacity: 0.2;
        }
        
        to {
                transform: translateX(0);
                opacity: 1;
        }
}

.section{
        display: grid;/* grid */
        top: 40px;
        position: relative;
        place-items: center;
        padding: 2%;
        background: var(--glass);
        backdrop-filter: var(--blue);
        border-radius: 20px;
        overflow: hidden;
        margin: auto;
        border: var(--border);
        width: clamp(70px, 90%, 400vw);
        &::before {
        position: absolute;
        content: "";
        background: linear-gradient(90deg, transparent, transparent, #00eaff, transparent, transparent);
        width: 100%;
        height: 1px;
        bottom: 0;
        filter: blue(10px);
        opacity: .8;
}
        & p{
                position: relative;
                animation: section 1s ease ;
                font-size: clamp(1rem,5vw,2rem);
                padding: 10px;
                z-index: 1;
                overflow: hidden;
               &::before{
                        position: absolute;
                        content: "";
                        background: #00eaff;
                        width: 0;
                        left: 0;
                        bottom: 0;
                        height: 1px;
                        z-index: 2;
                        overflow: hidden;
                        transition: width 0.3s ease-in ;
                        
                }
                        &:hover::before{
                        width: 100%;
                }
        }
}

.skill{
        position: relative;
        top: 40px;
        display: grid;
        background: var(--glass);
        place-items: center;
        & ul{
                position: relative;
                padding: 0 20px  0 20px  ;
                display: flex;
                gap: 20px;
                overflow-y: hidden;
                overflow: hidden;
                overflow-x: auto;
                width: 100%;
                left: 20px;
                right: 20px;
                
                & li{
                        display: grid;
                        background: var(--glass);
                        backdrop-filter: blue(12px);
                        -webkit-backdrop-filter: blur(12px);
                        border: var(--border);
                        border-radius: 10px;
                        padding: 10px;
                        place-items: center;
                        list-style: none;
                        font-size: clamp(2rem, 5vw, 2rem);
                        height: min(100px, 300px);
                        width: 100%;
                        
                }
        }
}

footer{
        position: relative;
        display: grid;
        gap: 10px;
        width: clamp(15rem, 100%, 60rem);
        margin: 20px;
        
        & span{
                position: relative;

                background: var(--glass);
                font-size: clamp(2rem, 5vw, 3rem);
                padding: 10%;
                border-radius: 10px;
                border: var(--border);
        }
}





.workflow{
width:90%;
max-width:1200px;
text-align:center;
}

/* title */

.workflow h1{
font-size:2.5rem;
margin-bottom:10px;
}

.workflow p{
color:#aaa;
margin-bottom:60px;
}

/* timeline */

.timeline{
position:relative;
display:flex;
justify-content:space-between;
align-items:flex-start;
}

/* glowing line */

.timeline::before{
content:"";
position:absolute;
top:25px;
left:0;
width:100%;
height:1px;

background:linear-gradient(90deg,#00eaff,#008cff,#00eaff);

box-shadow:
0 0 10px #00eaff,
0 0 20px #00eaff,
0 0 40px #00eaff;

}

/* step */

.step{
position:relative;
width:150px;
text-align:center;
}

/* circle */

.icon{
width:50px;
height:50px;
border-radius:50%;
background:#07192f;

display:flex;
align-items:center;
justify-content:center;

margin:auto;

border:2px solid #00eaff;

box-shadow:
0 0 10px #00eaff,
0 0 20px #00eaff;

position:relative;
z-index:1;
}

/* titles */

.step h3{
margin-top:20px;
font-size:18px;
}

.step p{
font-size:14px;
color:#bbb;
margin-top:10px;
line-height:1.4;
}


.tools{
        position: relative;
        display: grid;
        background: var(--glass);
        border: var(--border);
        border-radius: var(--radius);
        ul{
                position: inherit;
                display: flex;
                gap: 10px;
                right: 20px;
                span{
                background: var(--glass);
                border-radius: var(--item-radius);
                border: var(--border);
                position: relative;
                width: 100%;
                
                &:hover{
                        border-radius: var(--radius);
                        transform: translateY(-10px);
                        border-bottom: 2px solid ;
                        border-image: var(--hover);
                }
                img{
                       width: 100px;
                       border-bottom: var(--border);
                }
                
                h3{
                        position: relative;
                        text-align: bottom;
                }
                }
        }
}
